ion-content {
	--padding-start: 20px;
	--padding-end: 20px;
}

.app {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 20px 0;

	.logo {
		background: url(/assets/img/logo.png) no-repeat center top;
		width: 225px;
		text-align: center;
		padding: 180px 0px 0px 0px;
	}

	.btnlist {
		margin-top: 20px;
		display: grid;
		grid-template-columns: repeat(3, 33.33%);
	}

	.btn {
		position: relative;
		overflow: hidden;
		background-color: transparent;
		border-color: #ddd;
		color: #4d4d4d;
		margin: 10px 10px;
		padding: 10px 18px;

		&:active,
		&:focus {
			box-shadow: none !important;
		}
	}

	.customripple {
		color: #501ace;
	}
}