/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// font.css
@import "./assets/iconfont/iconfont.css";

//公共头部样式
.title_con {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	background-color: #fff;
	color: #4d4d4d;

	.back {
		width: 44px;
		height: 44px;
		font-size: 20px;
	}

	.more_func {
		width: 44px;
		height: 44px;
	}

	.tit {
		height: 44px;
		text-align: center;
		line-height: 44px;
		font-size: 16.5px;
		width: 60%;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: pre;
		font-weight: 500;
	}
}

//公共content背景
.bg_content {
	--background: #f7f8fa;
	--padding-start: 17px;
	--padding-end: 17px;
}

//表情键盘样式
#editor_con .ql-editor {
	overflow-y: scroll;
	border-radius: 8px;
	border: none;
	outline: none;
	padding: 7px 12px;
	font-size: 13px;
	line-height: normal;
	width: 100%;
	margin: 4px 0;
	word-break: break-all;
	min-height: 32px;
	user-select: text !important;
	-webkit-user-select: text !important;
	-moz-user-select: text !important;
	-ms-user-select: text !important;

	p {
		pointer-events: none;
	}
}

#editor_con .ql-editor.ql-blank::before {
	color: #999;
	font-style: normal;
}

.bubble_content .emoticon {
	width: 21px;
}

#editor_con .ql-editor,
.bubble_content {
	.emoticon {
		width: 20px;
		height: 18px;
		object-fit: contain;
		pointer-events: none;
	}

	img {
		vertical-align: sub;
	}

	p {
		margin: 0;
		min-height: 18px;
		line-height: 18px;
	}
}

//城市提示弹窗
.address_tip {
	.alert-wrapper {
		border-radius: 15px;
		overflow: hidden;
		background: #fff;
	}

	.alert-head {
		padding: 0 20px;

		h2.alert-title {
			margin: 0;
			padding: 23px 0 20px;
			font-size: 16px;
			font-weight: 500;
			color: #4d4d4d;
			text-align: center;
		}
	}

	.alert-message {
		padding: 0px 19px 16px 19px;
		position: relative;
		text-align: center;
		z-index: 29;
		margin: 0px;
		font-size: 14px;
		color: #616161;

		>span:first-child {
			display: block;
			margin-bottom: 5px;
		}

		.protocol {
			color: #5763bd;
		}
	}

	.alert-message:after {
		position: absolute;
		bottom: 0;
		right: -200%;
		width: 300%;
		height: 1px;
		z-index: 1;
		border-bottom: 1px solid #e0e0e0;
		content: " ";
		-webkit-transform-origin: 0 0;
		-webkit-transform: scale(0.3333);
		transform: scale(0.3333);
		transform-origin: 0 0;
	}

	.alert-button-group {
		padding: 0;

		button {
			border: transparent;

			span {
				color: #4d4d4d;
				justify-content: center;
			}

			&:first-child {
				border-right: 1px solid #f5f5f5;
			}
		}
	}

	.alert-button {
		color: #2e2e2e;
		flex: 1;
		min-width: 0;
		font-weight: normal;
		font-size: 15px;
		margin: 0;
	}
}

//选择图片弹窗样式
.reply_ctr_user .alert-wrapper {
	width: 100%;
	max-width: 100%;
	padding: 0px 10px;
	opacity: 1;
	background: transparent;
	box-shadow: none;
	position: fixed;
	bottom: 0;
	animation: reply_slide .15s ease-in-out 1;

	.alert-head,
	.alert-message {
		padding: 0;
	}

	.alert-button-group {

		button {
			width: 100%;
			height: 57px;
			display: flex;
			align-items: center;
			justify-content: center;
			background: #fff;
			border-top: none;
			border-right: none;
			color: #2e2e2e;
			margin: 0;

			span {
				justify-content: center;
			}
		}

		button:first-child {
			border-top-left-radius: 12px;
			border-top-right-radius: 12px;
		}

		button:nth-child(even) {
			border-bottom-left-radius: 12px;
			border-bottom-right-radius: 12px;
			border-bottom: none;
		}

		button:last-child {
			border-radius: 12px;
			color: #5763bd;
			font-weight: normal;
			margin: 5px 0;
		}
	}
}

@keyframes reply_slide {
	from {
		bottom: -150px;
	}

	to {
		bottom: 0;
	}
}

//功能按钮样式
.app {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 20px 0;

	.logo {
		background: url(/assets/img/logo.png) no-repeat center top;
		width: 225px;
		text-align: center;
		padding: 180px 0px 0px 0px;
	}

	.btnlist {
		margin-top: 20px;
		display: grid;
		grid-template-columns: repeat(3, 33.33%);
	}

	.btn {
		position: relative;
		overflow: hidden;
		background-color: transparent;
		border-color: #ddd;
		color: #4d4d4d;
		margin: 10px 10px;
		padding: 10px 18px;

		&:active,
		&:focus {
			box-shadow: none !important;
		}
	}

	.customripple {
		color: #501ace;
	}
}