<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>
			Tab 1
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollEvents]="true">
	<div class="app">
		<div class="logo"></div>
		<div id="deviceready">
			<button type="button" class="btn btn-primary btn-block" (click)="openAddress()">选择地址</button>
			<button type="button" class="btn btn-primary btn-block" (click)="imagepicker()">选择图片</button>
			<button type="button" class="btn btn-primary btn-block" (click)="goinput()">输入框页面</button>
			<button type="button" class="btn btn-primary btn-block" (click)="show()">弹窗显示</button>
			<button type="button" class="btn btn-primary btn-block" (click)="checkClientInstalled()">检查客户端是否安装</button>
			<button type="button" class="btn btn-primary btn-block" (click)="ssoLogin()">微博登录</button>
			<button type="button" class="btn btn-primary btn-block" (click)="ssoLogout()">微博登出</button>
			<button type="button" class="btn btn-primary btn-block" (click)="shareToWeibo()">网页分享</button>
			<button type="button" class="btn btn-primary btn-block" (click)="shareImageToWeibo()">图片分享</button>
			<button type="button" class="btn btn-primary btn-block" (click)="shareTextToWeibo()">文字分享</button>
		</div>
	</div>
</ion-content>